


.conteudo{
    position: relative;
    margin-top: 75px;
   
}

/* .fundo{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(4,3,40,1) 50%, rgba(0,212,255,1) 100%);
} */