
<button type="button" class="btn btn-success" (click)="navegar()">Novo Profissional</button>
<table class="table table-striped" *ngIf="carregarLoading; else carregando">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Email</th>
        <th scope="col">Contato</th>
        <th scope="col">Cargo</th>
        <th scope="col">Equipe</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let p of pessoas">
        <th scope="row">{{p.id}}</th>
        <td>{{p.nome }}</td>
        <td>{{p.sobrenome }}</td>
        <td>{{p.email }}</td>
        <td>{{p.contato }}</td>
        <td>{{associarCargo(p.cargo) }}</td>
        <td>{{p.equipe != null ? p.equipe.nome : "" }}</td>
        <td> <button type="button" class="btn btn-warning" (click)="editar(p.id)" >Editar</button> </td>
        <td> <button type="button" class="btn btn-danger" (click)="excluirItem(p.id)" >Excluir</button> </td>
      </tr>

    </tbody>
  </table>

  <ng-template #carregando >
    <div id="preloader">
      <div class="inner">
        carregando...
         <div class="bolas">
            <div></div>
            <div></div>
            <div></div>
         </div>
      </div>
  </div>
  </ng-template>
